<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jet Pack</title>
  </head>
  <body>
    <h1>Jet Pack</h1>
    <form action='/jetpack' method='POST'>
      <input type='text' placeholder='URL' name='url'></input>
      <input type='submit'></input>
    </form>
    <ul class="urls">
      <% for(let i=0; i <urls.length; i++) { %>
        <li class="url">
          <span>
            <%= urls[i].url %>
          </span></br>
          <span>
            <a href='http://localhost:3000/jetpack/<%= urls[i].id%>'>
              localhost:3000/jetpack/<%= urls[i].id%>
            </a>
          </span></br>
          <span>
            Times clicked: <%= urls[i].count %>
          </span>
        </li>
      <% } %>
    </ul>
  </body>
</html>
