<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jet Pack</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">
    <style>
      body {
      background-color: #171D20;
      font-family: 'Raleway', sans-serif;
      }
  </style>
  </head>
  <body style="margin: auto;">
    <header style="position: relative; width: vw; height: 10vh; background-color: black; margin: -20px; padding: 10px;">
      <h1 style="display: inline-block; color:#36DF67; letter-spacing: -4px; margin-left: 30px;">JP</h1>
      <% include ./nav %>
    </header>
    <% include ./input %>
    <ul style="list-style: none;">
      <% include ./url-card %>
    </ul>
  </body>
</html>
