<nav style="display: inline-block; position: absolute; right: 40px; top: 45px;">
  <a
    href="http://jetp.herokuapp.com/oldest/"
    style="margin: 10px; text-decoration: none; color: white; ">
    OLD
  </a>
  <a
    href="http://jetp.herokuapp.com/"
    style="margin: 10px; text-decoration: none; color: white; ">
    NEW
  </a>
  <a
    href='http://jetp.herokuapp.com/popular'
    style="margin: 10px; text-decoration: none; color: white; ">
  POPULAR
  </a>
  <a
    href='http://jetp.herokuapp.com/unpopular'
    style="margin: 10px; text-decoration: none; color: white;">
  UNPOPULAR
  </a>
</nav>
