<nav style="position: absolute; display: inline-block; right: 40px; top: 45px;">
  <a
    href="http://localhost:3000/oldest/"
    style="text-decoration: none; color: white; margin: 10px; ">
    OLD
  </a>
  <a
    href="http://localhost:3000/"
    style="text-decoration: none; color: white; margin: 10px; ">
    NEW
  </a>
  <a
    href='http://localhost:3000/popular'
    style="text-decoration: none; color: white; margin: 10px; ">
  POPULAR
  </a>
  <a
    href='http://localhost:3000/unpopular'
    style=" z-index; 5; text-decoration: none; color: white; margin: 10px;">
  UNPOPULAR
  </a>
</nav>
